body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

html {
    height: -webkit-fill-available;
}

main {
    min-height: -webkit-fill-available;
}

/**
==== 프린트 설정 ====
*/
@media print {
    [data-none-print] {display: none !important;}
    code {
        white-space :break-spaces;
    }
    .container {
        width: 100% !important;
        max-width: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    /* .main-content {
        height: unset;
        overflow: scroll;
    }
    .main-content::-webkit-scrollbar {display: none;} */
    @page {
        size: A4;
        margin :16mm;
    }
}